/*Rectangle for sorting box styles*/
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body{
    background-color: #222;
}
.container {
    max-width: 100vw;
    height: 100vh;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
}


.sorting-dropdown{
    position:relative;
    display:inline-block;
}

/*dropdown content(default hidden)*/
.dropdown-content{
    display:none;
    position:absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:1;
}
/*Links inside the dropdown*/
.dropdown-content a{
    color:black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
/*Change color of dropdown links on hover*/
.dropdown-content a:hover{
    background-color:#ddd;
}
.show {display:block;}

.bars-container {
    display: flex;
    flex-direction: row;
    /* transform: rotate(180deg); */
    transform: scaleY(-1);
}

.bar {
    width: 10px;
    background-color: firebrick;
    border: 1px solid black;
    border-radius: 2px;
    /* transition: 0.2s all ease; */
}

.output {
   display: none;
}